*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    font-family: sans-serif ;
    /* display: flex; */
    margin-top: 2vw ;
    /* align-items: center; */
    height: 100vh;
    width: 100%;
    background: #111;
}
#main{
    display: flex;
    justify-content: center;
}
#box{
    display: flex;
    height: 300px;
    margin-right: 10px;
    width: 400px;
    position: relative;
    padding: 8px;
    overflow: hidden;
   background: #2f2f2f;
}
#box1{
    height: 300px;
    margin-left: 10px;
    width: 400px;
    position: relative;
    padding: 8px;
    overflow: hidden;
   background: #2f2f2f;
}
#in{
    /* display: flex;
    align-items: center;
    justify-content: center; */
    height: 100%;
    padding: 1vw;
    width: 100%;
    background: #111;
    position: relative;
    z-index: 99;
    color: #fff;
    /* font-size: 7vw; */
}
#box::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
    rotate(45deg);
    width: 200px;
    height: 600px;
    background: #fff;
    animation: rotate 1.5s infinite ;
}
#box1::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
    rotate(45deg);
    width: 200px;
    height: 600px;
    background: #fff;
    animation: rotate 1.5s infinite ;
}
@keyframes rotate {
    100%{
        transform: translate(-50%,-50%)
        rotate(225deg);
    }
}

button{
    position: relative;
    width: 150px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px 20px 0px;
    font-weight: bold;
    border: 2px solid #3eff37;
    background: transparent;
    color: #fff;
    cursor: pointer;
    overflow: hidden;
}span{
    background: #3eff37;
    height: 100%;
    width: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s    ;

}
button:hover span{
    width: 100%;
}
#main2{
    display: flex;
    margin-top: 3vw;
    /* align-items: center; */
    justify-content: center;
}
#box3{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    height: 120px;
    /* margin-bottom: 0; */
    /* padding-top: 1.5vw; */
    width: 50%;
    padding: 20px 20px 80px 20px;
    background: #209CEE;
    color: #fff;
}
#item1 h1{
    font-size: 2vw;
}
#item2 h1{
    font-size: 2vw;
}
#item3 h1{
    font-size: 2vw;
}
#item1 p{
    font-size: 25px;
    margin-top: 15px;
    margin-left: 80px;
    font-weight: 600;
}
#item2 p{
    font-size: 25px;
    margin-top: 15px;
    margin-left: 70px;
    font-weight: 600;
}
#item3 p{
    font-size: 25px;
    margin-top: 15px;
    margin-left: 70px;
    font-weight: 600;
}
