*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html, body{
    /* font-family: sans-serif ; */
    /* display: flex; */
    padding-top: 2vw ;
    /* align-items: center; */
    height: 100vh;
    overflow: hidden;
    width: 100%;
    background: #111;
}
#main{
    display: flex;
    justify-content: center;
}
#box{
    display: flex;
    height: 360px;
    margin-right: 10px;
    width: 400px;
    position: relative;
    padding: 8px;
    overflow: hidden;
   background: #2f2f2f;
}
#box1{
    height: 360px;
    margin-left: 10px;
    width: 400px;
    position: relative;
    padding: 8px;
    overflow: hidden;
   background: #2f2f2f;
}
#in{
    /* display: flex;
    align-items: center;
    justify-content: center; */
    height: 100%;
    padding: 1vw;
    width: 100%;
    background: #111;
    position: relative;
    z-index: 99;
    color: #fff;
    /* font-size: 7vw; */
}
#box::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
    rotate(45deg);
    width: 200px;
    height: 600px;
    background: #fff;
    animation: rotate 1.5s infinite ;
}
#box1::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
    rotate(45deg);
    width: 200px;
    height: 600px;
    background: #fff;
    animation: rotate 1.5s infinite ;
}
@keyframes rotate {
    100%{
        transform: translate(-50%,-50%)
        rotate(225deg);
    }
}
input{
    margin-top: 2vw ;
    width: 320px;
    height: 60px;
    border-radius: 6px;
    font-size: 18px;
    padding: 0 15px;
    border: 2px solid #fff;
    background: transparent;
    outline: none;
    color: #fff;
}
input:focus{
    border: 2px solid #209CEE;
}
input:focus::placeholder{
    color: white;
}
#button1{
    position: relative;
    width: 150px;
    padding: 15px 0;
    border-radius: 6px;
    text-align: center;
    margin: 20px 10px 20px 0px;
    font-weight: bold;
    border: 2px solid #209CEE;
    background: transparent;
    color: #fff;
    cursor: pointer;
    overflow: hidden;
}
#button2{
    position: relative;
    width: 150px;
    padding: 15px 0;
    border-radius: 6px;
    text-align: center;
    margin: 20px 10px 20px 0px;
    font-weight: bold;
    border: 2px solid #209CEE;
    background: transparent;
    color: #fff;
    cursor: pointer;
    overflow: hidden;
}
span{
    background: #209CEE;
    height: 100%;
    width: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s    ;

}
#button1:hover span{
    width: 100%;
}
#button2:hover span{
    width: 100%;
}
#main2{
    display: flex;
    margin-top: 3vw;
    /* align-items: center; */
    justify-content: center;
}
#box3{
    display: flex;
    flex-wrap: wrap;
    border-radius: 6px;
    justify-content: space-between;
    /* align-items: center; */
    height: 120px;
    /* margin-bottom: 0; */
    /* padding-top: 1.5vw; */
    width: 50%;
    padding: 20px 20px 80px 20px;
    background: #209CEE;
    color: #fff;
}
#item1 h1{
    font-size: 2vw;
}
#item2 h1{
    font-size: 2vw;
}
#item3 h1{
    font-size: 2vw;
}
#item1 p{
    font-size: 25px;
    margin-top: 15px;
    text-align: center;
    /* margin-left: 80px; */
    font-weight: 600;
}
#item2 p{
    font-size: 25px;
    margin-top: 15px;
    /* margin-left: 60px; */
    text-align: center;
    font-weight: 600;
}
#item3 p{
    font-size: 25px;
    margin-top: 15px;
    text-align: center;
    /* margin-left: 50px; */
    font-weight: 600;
}


/* Swal.fire({
    title: "Are you sure?",
    text: "You won't be able to revert this!",
    icon: "warning",
    showCancelButton: true,
    confirmButtonColor: "#3085d6",
    cancelButtonColor: "#d33",
    confirmButtonText: "Yes, delete it!"
  }).then((result) => {
    if (result.isConfirmed) {
      Swal.fire({
        title: "Deleted!",
        text: "Your file has been deleted.",
        icon: "success"
      });
    }
  }); */
  #main3{
    display: flex;
    justify-content: center;
    /* background: red; */
    height: 100px;
    margin-top: 2vw;

  }
  #main3 .hujn{
    background: #fff;
    height: 100px;
    width: 50%;
   
  }
  #orderList{
 overflow-y: scroll ;
 overflow-x: hidden;
 height: 60px;


 &::-webkit-scrollbar{
    background: transparent;
 }
  }
  .hujn{
    display: flex; 
    padding: 2vw;
    gap: 20px;
    align-items: center;
  }
  .hujn h1{
    margin-right: 4vw;
    color: #209CEE;
    cursor: pointer;
    /* padding: 1vw;
    padding-top: 2vw; */
  }

  li{
    padding-right: 1vw;
    padding-top: 0.9vw;
    height: 50px;
    color: #209CEE;
    width: 500px;
    font-weight: 500;
    font-size: 1.8vw;
    cursor: pointer;
    /* background-color: #209CEE; */
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  li #button3{
  background: transparent;
  font-size: 1.8vw;
  border: none;
  margin-right: 1.8vw;
  cursor: pointer;
  color: #209CEE;
  }